# Notebook to get the property crime dataframe

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("county_crimes.csv", header=1)
df = df.iloc[:, 0:6] # this value is harcoded to get 2017 - 2021
df.head(10)

             County / Year  2017  2018  2019  2020  2021
0                  Alameda   NaN   NaN   NaN   NaN   NaN
1   - All Violent \nCrimes   675   670   633   700   651
2               - Homicide     8     7     5     5     3
3                   - Rape    28    35    27    27    27
4               - Robbery    227   223   210   162   203
5   - Aggravated \nAssault   412   405   391   506   418
6  - All Property \nCrimes  2202  2064  2169  2286  1893
7                  - Arson    30    23    21    22     -
8               - Burglary   377   385   354   369   256
9          - Larceny-theft  1156  1192  1324  1165   970

In [3]:
property_crime = df[df["County / Year"] == "- All Property \nCrimes"]
property_crime.head()

              County / Year   2017  2018  2019  2020  2021
6   - All Property \nCrimes   2202  2064  2169  2286  1893
18  - All Property \nCrimes     29    27    29    13    23
30  - All Property \nCrimes    356   338   416   312   407
42  - All Property \nCrimes  1,229  1394  1290  1120  1025
54  - All Property \nCrimes    588   615   668   557   471

In [4]:
# jank way to hardcode the indices into the 
counties = pd.read_csv("death_rates.csv", header=1) # takes in previously used dataset with counties
counties = counties.iloc[:, 0] # grabs first column

assert(len(property_crime) == len(counties)) # for validation
for i in range(len(property_crime)):
    property_crime.iloc[i][0] = counties[i]
property_crime.columns = ["County" if "/" in x else x for x in property_crime.columns]
property_crime.head()

       County   2017  2018  2019  2020  2021
6     Alameda   2202  2064  2169  2286  1893
18     Alpine     29    27    29    13    23
30     Amador    356   338   416   312   407
42      Butte  1,229  1394  1290  1120  1025
54  Calaveras    588   615   668   557   471